<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // JavaScript to toggle the mobile navigation menu
      const hamburgerMenu = document.getElementById("hamburger-menu");
      const navLinks = document.getElementById("nav-links");

      hamburgerMenu.addEventListener("click", () => {
        navLinks.classList.toggle("show");
      });
    })
  </script>
  <title>
    <%= title %>
  </title>
</head>