<nav>
    <h1>
        <div class="hamburger-menu" id="hamburger-menu">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>

        </div>

        <i class="material-icons">stream</i> Workflow
    </h1>

    <br>
    <ul id="nav-links" class="nav-list">
        <li><a href="/lecturers/16/modules" class="<%= active === 'Student' ? 'active' : ''%>"><i class="material-icons">dashboard</i>
                Lecturer Dashboard</a></li>
        <li><a href="/lecturers/add-assessment" class="<%= active === 'Assessment' ? 'active' : ''%>"> <i
                    class="material-icons">work</i>
                Assessments</a></li>
    </ul>
</nav>