* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --navbgcolor: rgb(121, 20, 215);

}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0.1rem;

}

nav {
  flex: 1;
  background-color: var(--navbgcolor);
  padding: 0.5rem;
  border: 1px solid var(--navbgcolor);
  border-radius: 0.5rem 0 0 0.5rem;
  height: 100vh;
  position: fixed;

}


.active {
  background-color: rgb(83, 48, 165);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-list li {
  width: 12.5rem;
  margin-bottom: 5px;

}

.nav-list li a {
  text-decoration: none;
  padding: 0.3rem;
  color: white;
  display: block;
  font-size: 0.85rem;
  width: 100%;


}

#header {
  display: flex;
  padding-top: 0.4rem;
  width: 100%;
  background-color: aliceblue;
  padding-bottom: -2px;
}

#header input {
  width: 95%;
  padding: 0.45rem;
  border-radius: 1rem;
  border: 0.05rem solid blue;
}

.content {
  margin: 0.7rem 0.3rem 0 0.1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(219, 240, 238);
  border-radius: 0.4rem;

}

.chart {
  flex: 2;
  margin-bottom: 2.5rem;

}

main {
  flex: 3;
  margin-left: 13rem;
  padding-left: 1rem;
  background-color: aliceblue;

}


#header {
  position: sticky;
  top: 0;
  padding-bottom: 1rem;


}


.material-icons {
  vertical-align: middle;
  margin-right: 0.3rem;
}

@media only screen and (max-width: 600px) {
 
  .hamburger-menu {
    display: flex;
    float: right;

  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  nav {
    border-radius:0;

    position: static;
  }

  main {
    flex-grow: 0;
    margin: 0;
  }
  .nav-list li {
    width: 100%;
    
  
  }

  #nav-links {
    display: none;
    
    flex-direction: column;
    z-index: 1;
  }

  #nav-links.show {
    display: block;
  }


}







